.edbi-shortcodes {

    &__lists {
        // border-spacing: 0 15px;
        width: 100%;
        thead {
            background-color: #e7e7e7;
            th {
                @apply text-sm text-gray-500 font-medium p-4;
            }
        }

        tbody {
            @apply bg-white;
            tr {
                td {
                    @apply p-4 text-center text-sm;
                }
            }
        }
    }


    &-create {
        min-width: 20%;
        input {
            @apply w-full py-2 px-4 border border-gray-300 rounded-md;
        }
    }
}