.edbi-shortcodes {

    &__lists {
        // border-spacing: 0 15px;
        width: 100%;
        thead {
            background-color: #e7e7e7;
            th {
                @apply text-sm text-gray-500 font-medium p-4;
            }
        }

        tbody {
            @apply bg-white;
            tr {
                td {
                    @apply p-4 text-center text-sm;
                }
            }
        }
    }


    &-create {
        min-width: 20%;
        input {
            @apply w-full py-2 px-4 border border-gray-300 rounded-md;
        }
    }


    
}


.edbi-shortcode {
    // Builder.
    &-builder {
        &__browser {

            @apply w-full md:w-[78%] h-full bg-white rounded-md shadow-md overflow-hidden; //  lg:w-[70%] xl:w-[60%] 2xl:w-[50%]

            .edbi-file-browser__header {
                position: unset;
                z-index: unset;
            }
        }
        &__selected-items {
            @apply w-full md:w-[20%] bg-white rounded-md shadow-md overflow-hidden sticky top-14; // lg:w-[30%] xl:w-[40%] 2xl:w-[50%]
            &__list {
                &__item {
                    @apply flex items-center justify-between p-2 border-b border-gray-200 cursor-pointer transition-all duration-300 ease-in-out gap-2;
                    &__thumb {
                        img {
                            @apply h-12 w-12 object-cover;
                            min-width: 48px;
                        }
                    }
                    &__info {
                        @apply overflow-hidden;
                        p {
                            @apply text-[15px] font-medium text-gray-700 overflow-hidden whitespace-nowrap text-ellipsis;
                        }
                    }
                    .dashicons {
                        @apply text-2xl;
                        line-height: 1.25rem;
                    }
                }
            }
        }

        &__advanced {
            &__item {
                @apply rounded-md p-4 border border-gray-200 mb-4 bg-white text-black flex items-center gap-10 flex-wrap;

                &__fields {
                    @apply flex-1 border border-dashed border-gray-200 p-4 rounded-md;
                }
                h3 {
                    flex: 0 0 20%;
                    @apply text-base font-medium text-black;
                }
                &__field {
                    input {
                        @apply w-full border  mb-5;
                        border-color: #ddd !important;
                        max-width: 30%;
                        border-radius: 10px !important;
                        padding: 10px !important;
                        height: auto !important;
                    }
                    label {
                        @apply text-xs text-black block;
                    }

                    .components-button-group {
                        @apply mb-3;
                    }
                    .components-button {
                        box-shadow: inset 0 0 0 1px #ddd;
                        outline: none;
                        &.is-primary {
                            @apply bg-secondary text-white outline-none;
                            box-shadow: inset 0 0 0 1px #ddd;
                        }
                    }
                }
            }
        }
    }
}