@tailwind base;
@tailwind components;
@tailwind utilities;

@import './uploader';

/** React Contexify */
:root {
	--contexify-menu-bgColor: #fff;
	--contexify-separator-color: rgba(0,0,0,0.2);
	--contexify-item-color: #333;
	--contexify-activeItem-color: #fff;
	--contexify-activeItem-bgColor: #5820e5;
	--contexify-rightSlot-color: #6f6e77;
	--contexify-activeRightSlot-color: #fff;
	--contexify-arrow-color: #6f6e77;
	--contexify-activeArrow-color: #fff;
}

#wpcontent {
	padding-left: 0px !important;
}

ol,
ul {
	list-style: none !important;
	margin: auto !important;
	padding: auto !important;
}

#ud-id-app {
}

.idb-file-browser {
	* {
		box-sizing: border-box;
	}
	@apply flex flex-col h-full w-full;
	&__loading {
		@apply flex items-center justify-center h-full;

		&__spinner {
			@apply animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-gray-900;

			&--bounce1 {
				@apply absolute border-4 border-gray-900;
			}
			&--bounce2 {
				@apply absolute border-4 border-gray-900;
			}
			&--bounce3 {
				@apply absolute border-4 border-gray-900;
			}
		}
	}
	&__header {
		@apply sticky z-10 flex items-center w-full h-16 py-6 px-4 bg-white shadow-sm top-8;
		h2 {
			@apply mr-2 text-3xl;
		}
		span {
			@apply px-2 py-0.5 text-[10px] text-white bg-indigo-400 rounded-sm;
		}
		&__breadcrumb {
			ol {
				@apply inline-flex items-center space-x-1 md:space-x-3;
				li {
					@apply inline-flex items-center mb-0;
					a {
						@apply inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white outline-none;
					}
				}
			}
		}
		&__right {
			@apply flex items-center ml-auto space-x-2;
			&__btn {
				@apply rounded-lg bg-[#f7f7f7] hover:bg-[#ccc] text-gray-700 p-3 cursor-pointer outline-none;
				img {
					height: 25px;
					width: 25px;
				}
			}
			&__filter {
				&__content {
					@apply p-5;
					&__title {
						@apply text-base font-medium text-[#222] mb-2 uppercase;
					}
					hr {
						@apply -mx-5 py-2;
					}
					&__options {
						&__item {
							@apply text-sm text-gray-500 mb-2 cursor-pointer;
							&--active {
								@apply text-[#222] font-medium;
							}
						}
					}
				}
			}
			&__user {
				padding: 5px;
				@apply border-gray-300 border-2 border-solid rounded-md;
				&__info {
					@apply flex items-center gap-2;
					img {
						width: 40px;
						height: 40px;
						@apply rounded-full;
					}
					&__more {
						&__email {
							@apply overflow-hidden whitespace-nowrap overflow-ellipsis;
						}
					}
				}
				&__content {
					h3 {
						@apply text-base font-medium text-[#222] mb-2 p-3 border-b-[1px] border-gray-200 text-center;
					}
					.idb-file-browser__header__right__user__info {
						@apply cursor-pointer p-3 border-b-[1px] border-gray-200;

						&--active {
							@apply bg-[#f7f7f7];
						}
						&__more {
							@apply overflow-hidden whitespace-nowrap overflow-ellipsis;
						}
					}
					&__add {
						@apply cursor-pointer p-3 flex justify-center items-center;
					}
				}
			}
			&__more {
				&__content {
					@apply py-3;
					ul {
						@apply space-y-2;
						li {
							padding: 8px 20px;
							border-bottom: 1px solid rgb(215 205 205 / 19%);
							@apply cursor-pointer block text-sm font-medium text-[#222] mb-0;
							&:last-child {
								@apply border-none;
							}
							// &:hover {
							// 	@apply bg-gray-200;
							// }
						}
					}
				}
			}
		}
	}
	&__body {
		@apply flex flex-wrap w-full mx-auto justify-between h-full;
	}
	&__l {
		@apply w-full sm:w-1/5;
	}
	&__sidebar {
		@apply h-screen sticky top-24 bg-white shadow-sm border-r-2 border-gray-200;
		min-height: calc(100vh - 92px);
		width: 100%;
		&__upload {
			@apply flex justify-center items-center border-b-[2px] border-gray-50 pt-5 pb-4;
			button {
				@apply flex items-center;
				img {
					@apply h-6 w-6;
				}
				span {
					@apply ml-2 text-sm font-medium text-gray-700;
				}
			}
		}
		&__items {
			@apply border-b-[2px] border-gray-50 py-3;
		}
		&__item {
			@apply flex items-center p-3 cursor-pointer border-l-[4px] border-transparent hover:border-secondary;
			&--active {
				@apply bg-gray-200 border-secondary;
			}
			img {
				@apply h-8 w-8 mr-2;
			}
			span {
				@apply text-[15px] font-medium text-gray-700;
			}
		}
		&__storage-info {
			@apply flex items-center p-3;
			&__img {
				img {
					@apply h-8 w-8 mr-2;
				}
			}
			&__more {
				@apply flex items-center justify-between p-3 flex-col flex-1;
				&__text {
					@apply text-[15px] font-medium text-gray-700 mt-1;
				}
				&__progress {
					@apply w-full bg-gray-200 dark:bg-neutral-600 h-2;
					&__bar {
						@apply bg-secondary p-0.5 text-[16px] font-medium leading-none h-full;
					}
				}
			}
		}
	}
	&__content {
		@apply w-full sm:w-[79%] mb-4 sm:mb-0 rounded-md overflow-hidden mt-3;
	}
	&__file-list {
		@apply flex flex-wrap overflow-y-auto;
		&__item {
			@apply flex relative justify-center m-2 overflow-hidden shadow-md rounded-md cursor-pointer border-[#f7f7f7] border-[1px];
			aspect-ratio: 1/1;
			width: calc(20% - 1rem);
			&--file {
				@apply flex-col justify-end;
				// img {
				// 	@apply w-full h-full object-cover absolute bottom-9;
				// }
			}
			&__thumb {
				position: relative;
				padding-bottom: 81.25%; /* 16:9 ratio */
				height: 0;
				overflow: hidden;
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			&--folder {
				@apply h-[50px];
			}
			&__icon {
				@apply flex items-center justify-center w-full h-full;
				span {
					@apply text-8xl text-secondary w-auto h-auto;
				}
			}
			&__info {
				@apply flex items-center p-2 bg-white dark:bg-black w-full overflow-hidden whitespace-nowrap overflow-ellipsis gap-1;
				span {
					@apply overflow-hidden whitespace-nowrap overflow-ellipsis;
				}
			}
		}
	}
}

/** Popover **/
.ud-c-popover {
	@apply absolute z-10 w-full max-w-sm px-4 mt-[7px] transform -translate-x-1/2 left-1/2 sm:px-0;
	&__content {
		@apply rounded-lg shadow-lg;
		&__wrap {
			@apply relative bg-white;
		}
	}
}
/** Button **/
.ud-c {
	&-btn {
		@apply px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
		&--primary {
			@apply bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500;
		}
		&--secondary {
			@apply bg-gray-300 hover:bg-gray-200 focus:ring-gray-200;
		}
	}
}
