.pb-dimension-control {
    margin: 1em 0;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }
    &__label {
        font-size: 13px;
    }
    &__responsive {
        position: relative;
        top: 3px;
        flex-grow: 1;
    }
    &__unit {
        border: 0px;
        background: transparent;
        padding: 0px 2px;
        color: #333;
        button {
            background: transparent;
            border: 0px;
            color: #555;
            cursor: pointer;
            &.active {
                color: #5820e5;
            }
        }
    }
    &__box {
        > span {
            width: 21.8%;
            float: left;
            text-align: center;
            &:first-child {
                input {
                    border-radius: 4px 0 0 4px !important;
                }
            }
            &:not(:last-child) input {
                border-radius: 0px;
                border-right: none;
            }
            input {
                max-width: 100%;
                padding: 0;
                margin: 0;
                text-align: center;
                border-color: #ececec !important;
            }
            span {
                text-transform: uppercase;
                color: #696262;
                font-size: 9px;
            }
        }
        button {
            background: #555;
            color: #fff;
            border-radius: 0px 4px 4px 0px;
            height: 30px;
            cursor: pointer;
            border: 0px;
            &.active {
                background: #444;
            }
        }
        &--hasLock {

        }
    }
    
}
.pb-device-control {
    button {
        font-family: dashicons;
        font-size: 13px;
        border: 0px;
        padding: 0 1px;
        background: transparent;
        cursor: pointer;
        color: #333;
        transition: 0.3s all ease-in-out;
        &:hover {
            color: #5820e5;
        }
        &.active {
            color: #5820e5;
        }
    }
    &__device-xs {
        &:before {
            content: "\f470";
        }
    }
    &__device-sm {
        &:before {
            content: "\f471";
        }
    }
    &__device-md {
        &:before {
            content: "\f547";
        }
    }
    &__device-lg {
        &:before {
            content: "\f472";
        }
    }
}