.ud-ud-id-overlay {
	position: fixed;
	background: #111;
	top: 0;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	opacity: .25;
	z-index: 9999999;
	display: none;
}

.ud-ud-id-opener {
	position: fixed;
	top: 50%;
	left: var( --panel-opener-left, auto );
	right: var( --panel-opener-right, auto );
	z-index: 99999999;
	transform: translate( 0px, -50% );
	img {
		max-height: 50px;
	}
	&.ud-ud-id-opener-open {
		a {
			color: var( --panel-opener-hover-color, #fff ) !important;
			background: var( --panel-opener-hover-bg-color, #111 );
		}
	}
	.ud-ud-id-pi-o {
		
	}
	.ud-ud-id-pi-h {
		display: none;
	}

	a {
		background: var( --panel-opener-bg-color, gold );
		color: var( --panel-opener-color, #fff );
		padding: 5px 10px;
		text-decoration: none;
		display: block;

		&:hover {
			color: var( --panel-opener-hover-color, #fff ) !important;
			background: var( --panel-opener-hover-bg-color, #111 );
		}

	}
}

.ud-ud-id-content {
	position: fixed;
	top: 0px;
	width: var( --panel-width, 300px );
	background: var( --panel-bg, #fff );
	height: 100%;
	z-index: 999999999;
	left: var( --panel-left, auto );
	right: var( --panel-right, auto );
	overflow-y: auto;
	&--wrap {
		padding: 20px;
		font-family: var( --panel-font, 'Karla', sans-serif );
		font-size: var( --panel-font-size, 18px );
	}
	&-c {
		h1, h2, h3, h4, h5, h6 {
			// display: inline-block;
			font-size: 16px;
			font-weight: bold;
		}
	}
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px #cdcdcd;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar {
		width: 5px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #cdcdcd;
		border: 1px solid #cdcdcd;
	}

	.ud-ud-id-title {
		margin: 0 0 10px;
		padding: 3px 10px;
		font-family: var( --panel-title-font, 'Karla', sans-serif );
		font-size: var( --panel-title-font-size, 25px );
		background-color: var( --panel-title-bg, #111);
		color: var( --panel-title-color, #fff);
	}

	// p {
	// 	padding: 10px;
	// }
}