.ud-c-file-browser__upload {
    @apply fixed top-auto right-0 bottom-0 left-auto z-50;
    &__inner {
        @apply bg-white p-8 shadow-lg border-2 border-dashed border-gray-600 rounded-lg min-w-[400px];
        &__header {
            @apply flex justify-between;
            h3 {
                font-size: 1.4rem;
                font-weight: 700;
                margin-bottom: 1.6rem;
            }
        }
        &__dropzone {
            @apply text-center;
            p {
                @apply text-gray-500 text-base mb-4;
            }
            input[type="file"] {
                display: none;
            }
        }
    }
}