@tailwind base;
@tailwind components;
@tailwind utilities;
#wpcontent {
  padding-left: 0px !important;
}

ol, ul {
  list-style: auto !important;
  margin: auto !important;
  padding: auto !important;
}

#ud-id-app .ud-tab-panel .components-tab-panel__tabs {
  @apply bg-white w-full border-b-[1px] border-[#f7f7f7];
}

#ud-id-app .ud-tab-panel .components-tab-panel__tab-content {
  @apply bg-white w-full p-4;
}

#ud-id-app .ud-tab-panel .components-tab-panel__tab-content .components-input-control__container input {
  padding-left: 15px;
  min-height: 35px;
}

#ud-id-app .ud-tab-panel .components-tab-panel__tab-content .css-c3bpo-BackdropUI,
#ud-id-app .ud-tab-panel .components-tab-panel__tab-content .components-textarea-control__input {
  border-color: #ddd !important;
}

#ud-id-app .ud-tab-panel .components-tab-panel__tab-content .components-checkbox-control__input[type=checkbox] {
  @apply border-[#ddd];
}

#ud-id-app .ud-tab-panel .components-tab-panel__tab-content .components-checkbox-control__input[type=checkbox]:focus {
  @apply shadow-none;
}

#ud-id-app .ud-tab-panel .components-tab-panel__tab-content .components-checkbox-control__input[type=checkbox]:checked {
  @apply bg-secondary border-[#5820e5];
}

#ud-id-app .ud-tab-panel .components-tab-panel__tabs-item {
  @apply bg-white border-gray-50 px-4 py-2;
}

#ud-id-app .ud-tab-panel .components-tab-panel__tabs-item:focus {
  @apply shadow-none;
}

#ud-id-app .ud-tab-panel .components-tab-panel__tabs-item:hover {
  @apply text-secondary;
}

#ud-id-app .ud-tab-panel .components-tab-panel__tabs-item.is-active {
  @apply shadow-none text-secondary;
  border-bottom: 2px solid #5820e5;
}

.ud-social-icons {
  list-style: none !important;
}

.ud-social-icons li {
  @apply mb-6;
}

.ud-social-icons li a {
  @apply inline-flex items-center justify-center w-10 h-10 p-3 text-center text-gray-600 bg-white rounded-full shadow-lg;
}

.ud-social-icons li a img {
  @apply w-4 h-4 border-none;
}

li.toplevel_page_sticky-list img {
  padding: 6px !important;
  @apply border-none h-[33px];
}

/** Controls **/
.ud-a-textcontrol .css-29yhbg.css-29yhbg.css-29yhbg {
  @apply border-[#ddd] text-black px-2 py-3;
}

.ud-a-textcontrol .components-base-control__field label {
  @apply text-black text-sm;
  margin-bottom: 5px !important;
}

.ud-a-textcontrol .components-base-control__field input {
  @apply bg-white border-[#ddd] text-black px-2 py-3;
}

.ud-a-selectcontrol label {
  @apply text-black text-sm;
  margin-bottom: 5px !important;
}

.ud-a-selectcontrol .css-ebmrdk-Container {
  @apply text-black px-2 py-2;
}

.ud-a-selectcontrol select {
  width: 100%;
  min-height: 35px !important;
  max-width: 100% !important;
}

.ud-a-selectcontrol .components-input-control__backdrop {
  border-color: #ddd !important;
}

/** Control **/
.components-base-control {
  width: 100%;
}

.pb-panel-inspect--tabs .pb-panel-inspect--tab {
  background: #fff;
  color: #111;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0px !important;
  border: 1px solid #ddd;
  height: 35px;
}

.pb-panel-inspect--tabs .pb-panel-inspect--tab span {
  margin-bottom: 5px;
  font-size: 22px;
}

.pb-panel-inspect--tabs .pb-panel-inspect--tab:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 0px;
}

.pb-panel-inspect--tabs .pb-panel-inspect--tab:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 0px;
}

.pb-panel-inspect--tabs .pb-panel-inspect--tab.pb-pi-tab--active {
  background-color: #888 !important;
  color: #fff;
}

.pb-panel-inspect--tabs .pb-panel-inspect--tab:hover {
  background-color: #999 !important;
  color: #fff !important;
}

.pb-panel-inspect--tabs .pb-panel-inspect--tab:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pb-panel-inspect--tabs .components-tab-panel__tab-content {
  padding: 0px 0 !important;
}

.pb-panel-inspect--tabs .pb-panel-inspect--tabs__controls {
  margin-top: 15px;
}

/** Toastify **/
.Toastify__toast-container {
  z-index: 99999;
}

.ud-ud-id-preview {
  width: var(--panel-w, 300px);
  background-color: var(--panel-bg, #fff);
  padding: 20px;
}

.ud-ud-id-preview__title {
  font-family: var(--panel-title-font, "Karla", sans-serif);
  font-size: var(--panel-title-font-size, 25px);
  background-color: var(--panel-title-bg, #111);
  color: var(--panel-title-color, #fff);
  margin: 0 0 10px;
  padding: 3px 10px;
}

.ud-ud-id-preview__content {
  font-family: var(--panel-font, "Karla", sans-serif);
  font-size: var(--panel-font-size, 18px);
}

.ud-ud-id-preview__content h2 {
  font-weight: bold;
}

.ud-ud-id-preview__content a {
  color: #111;
}
/*# sourceMappingURL=admin.css.map */