@tailwind base;
@tailwind components;
@tailwind utilities;

#wpcontent {
	padding-left: 0px !important;
}

ol, ul {
	list-style: none !important;
	margin: auto !important;
	padding: auto !important;
}

#ud-id-app {}

.ud-c-file-browser {
	* {
		box-sizing: border-box;
	}
	@apply flex flex-col h-full w-full;
	&__header {
		@apply sticky z-10 flex items-center w-full h-16 py-6 px-4 bg-white shadow-sm top-8;
		h2 {
			@apply mr-2 text-3xl;
		}
		span {
			@apply px-2 py-0.5 text-[10px] text-white bg-indigo-400 rounded-sm;
		}
		&__breadcrumb {
			ol {
				@apply inline-flex items-center space-x-1 md:space-x-3;
				li {
					@apply inline-flex items-center mb-0;
					a {
						@apply inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white;
					}
				}
			}
		}
		&__right {
			@apply flex items-center ml-auto space-x-2;
			&__btn {
				@apply rounded-lg bg-[#f7f7f7] hover:bg-[#ccc] text-gray-700 p-3 cursor-pointer;
				img {
					height: 25px;
					width: 25px;
				}
			}
			&__user {
				padding: 5px;
				@apply border-gray-300 border-2 border-solid rounded-md;
				&__info {
					@apply flex items-center gap-2;
					img {
						width: 40px;
						height: 40px;
						@apply rounded-full;
					}
					&__more {
						&__email {
							@apply overflow-hidden whitespace-nowrap overflow-ellipsis;
						}
					}
				}
			}
		}
	}
	&__body {
		@apply flex flex-wrap w-[100%] mx-auto justify-between;
	}
	&__sidebar {
		@apply h-screen sticky w-full sm:w-1/5 top-24 bg-white shadow-sm border-r-2 border-gray-200;
		min-height: calc(100vh - 92px);
		&__content {
		}
	}
	&__content {
		@apply w-full sm:w-[79%] mb-4 sm:mb-0 rounded-md overflow-hidden;
	}
}
