@tailwind base;
@tailwind components;
@tailwind utilities;


#wpcontent {
	padding-left: 0px !important;
}

.idb-settings {
	&__header {
		@apply sticky z-10 flex items-center w-full h-16 py-6 px-4 bg-white shadow-sm top-8;
		h2 {
			@apply mr-2 text-3xl;
		}
		span {
			@apply px-2 py-0.5 text-[10px] text-white bg-indigo-400 rounded-sm;
		}
		
		&__right {
			@apply flex items-center ml-auto space-x-2;
			&__btn {
				@apply rounded-lg bg-[#f7f7f7] hover:bg-[#ccc] text-gray-700 p-3 cursor-pointer outline-none;
				img {
					height: 25px;
					width: 25px;
				}
			}
		}
	}
	&__body {
		@apply flex flex-wrap w-full mx-auto justify-between h-full;
	}
	&__l {
		@apply w-full sm:w-1/5;
	}
	&__sidebar {
		@apply h-screen sticky top-24 bg-white shadow-sm border-r-2 border-gray-200;
		min-height: calc(100vh - 92px);
		width: 100%;
		&__upload {
			@apply flex justify-center items-center border-b-[2px] border-gray-50 pt-5 pb-4;
			button {
				@apply flex items-center;
				img {
					@apply h-6 w-6;
				}
				span {
					@apply ml-2 text-sm font-medium text-gray-700;
				}
			}
		}
		&__items {
			@apply border-b-[2px] border-gray-50 py-3;
		}
		&__item {
			@apply flex items-center p-3 cursor-pointer border-l-[4px] border-transparent hover:border-secondary;
			&--active {
				@apply bg-gray-200 border-secondary;
			}
			img {
				@apply h-8 w-8 mr-2;
			}
			span {
				@apply text-[15px] font-medium text-gray-700;
			}
		}
		&__storage-info {
			@apply flex items-center p-3;
			&__img {
				img {
					@apply h-8 w-8 mr-2;
				}
			}
			&__more {
				@apply flex items-center justify-between p-3 flex-col flex-1;
				&__text {
					@apply text-[15px] font-medium text-gray-700 mt-1;
				}
				&__progress {
					@apply w-full bg-gray-200 dark:bg-neutral-600 h-2;
					&__bar {
						@apply bg-secondary p-0.5 text-[16px] font-medium leading-none h-full;
					}
				}
			}
		}
	}
	&__content {
		@apply w-full sm:w-[79%] mb-4 sm:mb-0 rounded-md overflow-hidden mt-3;
	}
}