@tailwind base;
@tailwind components;
@tailwind utilities;


#wpcontent {
	padding-left: 0px !important;
}

.edbi-page {
	&__header {
		@apply sticky z-10 flex items-center w-full h-16 py-6 px-4 bg-white shadow-sm top-8;
	

		&__left {
			@apply flex items-center gap-3;
			i {
				@apply text-2xl;
				line-height: 1.30rem;
			}
			h2 {
				@apply text-2xl font-medium;
				span {
					@apply ml-2 px-2 py-0.5 text-[10px] text-white bg-secondary rounded-sm;
					vertical-align: middle;
				}
			}
		}
		
		&__right {
			@apply flex items-center ml-auto space-x-2;
			&__btn {
				@apply rounded-lg bg-[#f7f7f7] hover:bg-[#ccc] text-gray-700 p-3 cursor-pointer outline-none;
				img {
					height: 25px;
					width: 25px;
				}
			}
		}
	}
	&__body {
		@apply flex flex-wrap w-full mx-auto justify-between h-full;
	}
	&__l {
		@apply w-full sm:w-1/5;
	}
	&__sidebar {
		@apply h-screen sticky top-24 bg-white shadow-sm;
		min-height: calc(100vh - 92px);
		width: 100%;
		&__items {
			// @apply border-b-[2px] border-gray-50 py-3;
		}
		&__item {
			@apply flex items-center px-3 py-5 cursor-pointer border-r-[4px] border-transparent hover:border-secondary transition-all duration-300 ease-in-out gap-4;
			img {
				@apply h-8 w-8 mr-2;
			}
			span {
				@apply text-[15px] font-medium text-gray-700;
			}
			.dashicons {
				@apply text-2xl;
				line-height: 1.25rem;
			}
			&--active, &:hover {
				@apply bg-gray-100 border-secondary;
				span {
					@apply text-secondary;
				}
			}
		}
		
	}
	&__content {
		@apply w-full sm:w-[79%] mb-4 sm:mb-0 rounded-md overflow-hidden mt-3;
	}
}

.edbi-info-box {
	@apply bg-white p-6 rounded-md shadow-sm transition-all duration-300 ease-in-out border border-solid;
	&__icon {
		@apply bg-gray-100 flex items-center justify-center rounded-full h-12 w-12 mb-3 transition-all duration-300 ease-in-out;
		i {
			// @apply text-2xl;
		}
	}
	&__content {
		h3 {
			@apply text-lg font-medium text-gray-700 mb-2;
		}
		p {
			@apply text-gray-600 text-center;
		}
	}

	&--active {
		@apply border-secondary;
		.edbi-info-box__icon {
			@apply bg-secondary;
			i {
				@apply text-white;
			}
		}
		h3 {
			@apply text-secondary;
		}
	}


	&--types {
		@apply flex relative flex-col items-center justify-center m-2 overflow-hidden shadow-md rounded-md cursor-pointer border-[1px] text-center;
		width: calc(25% - 1rem);
		&:hover {
			@apply border-secondary;
			.edbi-info-box__icon {
				@apply bg-secondary;
				i {
					@apply text-white;
				}
			}
			h3 {
				@apply text-secondary;
			}
		}
	}
}